#darkMode {
  background: white;
  background-size: 1.5rem 1.5rem;
  width: 30px;
  height: 30px;
  filter: grayscale(100%);
  border: none;
  border-radius: 50%;
  transition:background-color 0.3s ease-in-out, filter 0.3s ease-in-out;
}

#darkMode:hover,
#darkMode:focus {
  filter: none;
  color: blue;
  cursor: pointer;
}

#darkMode.clicked {
  filter: none !important;
  color: white;
  background-color: black;

}